<!-- index.html -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referti JSON Data Cleaner</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Data Cleaner</h1>
    <form action="/result" method="post">
        <label for="input">Referto da pulire:</label><br>
        <textarea id="input" name="input" rows="10" cols="50"></textarea><br>
        <input type="submit" value="Invia">
    </form>
</body>
</html>
